.section{
    background-color: #6578b4;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;

}
.section img {
    height: 250px;

}
.section h1{
    color: green;
}
.section p{
    color: aqua;
    margin-right: 15px;
}
img{
    padding: 5px;
}
@media (max-width: 700px) {
    .section{
        display: block;
    }
    .section:nth-child(2n){

    }
}







